.ui-container{
  padding: 68px;
}

.options-container{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.date-options-container,.filter-button-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.date-option{
    margin-right: 10px;
}



.reports-container{
    margin-top: 30px;
    height: 500px;
    overflow-y: auto;
}

.filter-container{
    margin-top: 20px;
    display: flex;
    padding: 30px;
    flex-wrap: wrap;
    border-radius: 5px;
    border: 1px solid rgb(223, 223, 223);
}

.filter-option{
    padding: 10px;
    border: 1px solid rgb(223, 223, 223);
    margin-right: 20px;
    margin-top: 10px;
    font-size: 10px;
    cursor: pointer;
}

.selected{
    border-left: 3px solid blue;
}

